<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Customer Service</h4>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4 id="align">Follow Us</h4>
            <div class="social-media">
                <a href="#"><img src="/images/social-media/facebook.jpg" alt="Facebook"></a>
                <a href="#"><img src="/images/social-media/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/images/social-media/twitter.png" alt="Twitter"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 MAARC Fashion. All rights reserved.</p>
    </div>
</footer>