<section id = "header">
<div class="nav">
    <nav>
        <a href="/index">
            <img src="/images/logo2.svg" height="80px" width="150px" class="logo" alt="maarc logo">
        </a>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/basket">Basket</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</div>
</section>